.bottom {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(34, 34, 34, 0.8);
}

.bottom>.texto {
    height: 22px;
    font-family: 'Recursive';
    font-size: 18px;
    color: #333333;
    margin-bottom: 6px;
    margin-top: 9px;
}

.bottom>.icons {
    height: 30px;
}

ion-icon {
    height: 23px;
    width: 23px;
    margin-bottom: 10px;
}

.concluido {
    height: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.concluido>.header {
    margin-top: 16px;
    margin-bottom: 14px;
}

.concluido>.header>img {
    height: 23px;
    width: 23px;
}

.header>.titulo {
    font-family: 'Recursive';
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 6px;
    margin-right: 50px;
}

.concluido>.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive';
    font-size: 18px;
    color: #333333;
    margin-bottom: 6px;
}