li {
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15)
}

li:last-child {
    margin-bottom: 185px;
}

.fechada {
    height: 65px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Recursive';
    font-size: 16px;
    font-weight: 700;
}

.fechada>.texto {
    margin-left: 20px;
}

.fechada>ion-icon {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.play-outline {
    color: #333333;
}

ion-icon[name="close-circle"] {
    color: #FF3030;
}

.close-circle {
    color: #FF3030;
    text-decoration: line-through;
}

ion-icon[name="help-circle"] {
    color:#FF922E;
}

.help-circle {
    color:#FF922E;
    text-decoration: line-through;
}

ion-icon[name="checkmark-circle"] {
    color:#2FBE34;
}

.checkmark-circle {
    color:#2FBE34;
    text-decoration: line-through;
}