li {
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15)
}

li:last-child {
    margin-bottom: 95px;
}

.aberta {
    height: 131px;
    width: 300px;
    background-color: #FFFFD4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Recursive';
    font-weight: 400;
}

.aberta>.texto {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: #333333;
}

.aberta>img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    margin-left: 250px;
}

.aberta>.opções {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

.opções>.button {
    height: 38px;
    width: 86px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}