body {
    width: 100%;
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

.red {
    background-color:#FF3030;
}

.yellow {
    background-color:#FF922E;
}

.green {
    background-color:#2FBE34;
}